{% extends "base.html" %}
<!-- 1 -->
{% load static %}
<!-- 1 -->
{% block title %} | About Us{% endblock title %}
<!-- 1 -->
{% block content %}

<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">About BT Real Estate</h1>
        <p class="lead">
          Home is where the heart is. Let us find you the perfect home.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'pages:index' %}">
            <i class="fas fa-home"></i> Home</a
          >
        </li>
        <li class="breadcrumb-item active">About</li>
      </ol>
    </nav>
  </div>
</section>

<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>We Search For The Perfect Home</h2>
        <p class="lead">
          We understand that peoples tastes are different. Thats why we pride
          ourselves on being able to fit everyone into there dream homes.
        </p>
        <img src="{% static 'img/about_pic.jpg' %}" alt="" />
        <p class="mt-4">
          Davis Estates are residential sales estate agency. We focus singularly
          on being the logical option for selling a residential property in
          Ireland. We do this by offering the best expertise, technology and
          service at an unrivalled price. We are by far Ireland’s best priced
          estate agency charging a fixed fee of €1599+VAT for a full,
          no-compromise estate agency service. Our low fee means that our
          vendors keep more of the ultimate sale price of their property which
          is the entire point of selling a property. If you are considering
          selling a property, make sure to meet one of our experienced estate
          agents for a free, no-obligation consultation & valuation of your
          property.
        </p>
      </div>

      <div class="col-md-4">
        {% if mvp_agent %}
        <!-- 1 -->
        {% for mvp in mvp_agent %}
        <div class="card">
          <img
            class="card-img-top"
            src="{{mvp.photo.url}}"
            alt="Seller of the month"
          />
          <div class="card-body">
            <h5 class="card-title">Seller Of The Month</h5>
            <h6 class="text-secondary">{{mvp.name}}</h6>
            <p class="card-text">{{ mvp.description }}</p>
          </div>
        </div>
        {% endfor %}
        <!-- 1 -->
        {% endif %}
      </div>
    </div>
  </div>
</section>

<!-- Work -->
<section id="work" class="bg-dark text-white text-center">
  <h2 class="display-4">We Work For You</h2>
  <h4>
    Have a look at the featured listing and connect with the agents. We will do
    all the groundwork for you.
  </h4>
  <hr />
  <a href="listings.html" class="btn btn-secondary text-white btn-lg"
    >View Our Featured Listings</a
  >
</section>

<!-- Team -->
<section id="team" class="py-5">
  <div class="container">
    <h2 class="text-center">Our Team</h2>
    <div class="row text-center">
      {% for agent in agents %}
      <div class="col-md-4">
        <img src="{{ agent.photo.url }}" alt="" class="rounded-circle mb-3" />
        <h4>{{ agent.name }}</h4>
        <!-- TODO!!! MAKE DESC DROP DOWN -->
        <p class="fa-primary">
          <i class="fas fa-award text-success mb-3"></i> Agent
        </p>
        <hr />
        <p><i class="fas fa-phone"></i> {{ agent.phone }}</p>
        <p><i class="fas fa-envelope-open"></i> {{ agent.email }}</p>
      </div>
      {% empty %}
      <div class="col-md-12">
        <p>No Agents Available</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
