{% extends "base.html" %}
<!-- 1 -->
{% load humanize %}
<!-- 1 -->
{% load static %}
<!-- 1 -->
{% block title %} | Home {% endblock title %}
<!-- 1 -->
{% block content %}
<!-- Showcase -->
<section id="showcase">
  <div class="container text-center">
    <!-- Alerts  -->
    {% include "includes/_messages.html" %}
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-2">Find your way home</h1>
        <h4 class="mb-4">Dublin (County) Residential Specialist</h4>
        <div class="search">
          <form action="{% url 'listings:search' %}">
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input
                  type="text"
                  name="keywords"
                  class="form-control"
                  placeholder="Keyword (Parking, Bus, etc)"
                />
              </div>
              <div class="col-md-4 mb-3">
                <label class="sr-only">Bedrooms</label>
                <select name="bedrooms" class="form-control">
                  <option selected="true" disabled="disabled">
                    Bedrooms (All)
                  </option>
                  {% for key,value in bedroom_choices.items %}
                  <option value="{{key}}">{{value}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-4 mb-3">
                <select name="price" class="form-control" id="type">
                  <option selected="true" disabled="disabled">
                    Max Price (Any)
                  </option>
                  {% for key,value in price_choices.items %}
                  <option value="{{key}}">{{value}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Listings -->
<section id="listings" class="py-5">
  <div class="container">
    <h3 class="text-center mb-3">Latest Listings</h3>
    <div class="row">
      <!-- Listing 1 -->
      {% for listing in listings %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="{{listing.photo_main.url}}" alt="" />
          <div class="card-img-overlay">
            {% if not listing.sale_agreed and not listing.sold %}
            <h2>
              <span class="badge badge-secondary fa-primary"
                >€{{listing.price|intcomma}}</span
              >
            </h2>
            {% endif %} {% if listing.sale_agreed %}
            <h2>
              <span class="badge badge-danger fa-primary">Sale Agreed</span>
            </h2>
            {% endif %} {% if listing.sold %}
            <h2>
              <span class="badge badge-danger fa-primary">SOLD</span>
            </h2>
            {% endif %}
          </div>
          <div class="card-body fa-primary">
            <div class="address listing-heading text-center">
              <h5>
                {{listing.address}} {{listing.city}}
                <br />{{listing.county}}
              </h5>
            </div>
            <hr />
            <div class="row fa-primary">
              <div class="col-6 my-1">
                <i class="fas fa-bed"></i> Bedrooms: {{ listing.bathrooms }}
              </div>
              <div class="col-6">
                <i class="fas fa-bath"></i> Bathrooms: {{ listing.bedrooms }}
              </div>
            </div>
            <div class="row fa-primary">
              <div class="col-6 my-1">
                {% if listing.parking %}
                <i class="fas fa-car"></i> Parking: Yes
                <!-- 1 -->
                {% else %}
                <i class="fas fa-car"></i> Parking: No
                <!-- 1 -->
                {% endif %}
              </div>
              <div class="col-6 my-1">
                <i class="fas fa-th-large"></i> M&#178; : {{ listing.sqm }}
              </div>
              <div class="col-6 my-1">
                <i class="fas fa-clock"></i>Listing Date:&nbsp;
              </div>
              <div class="col-6 my-1">{{ listing.list_date|date:"d/M/Y" }}</div>
            </div>
            <hr />

            <a
              href="{% url 'listings:list_details' listing.id %}"
              class="btn btn-primary btn-block"
              >More Info</a
            >
          </div>
        </div>
      </div>
      {% empty %}
      <div class="col-md-12">
        <p>No Listings Available</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 fa-primary">
        <i class="fa-primary fas fa-comment fa-4x mr-4"></i>
        <hr />
        <h3>Consulting Services</h3>
        <p>
          At Davis Estates we give specialized investment and financial advice
          to clients looking to buy, sell or invest in property. They work
          closely with people throughout the process of buying and selling
          properties.
        </p>
      </div>
      <div class="col-md-4 fa-primary">
        <i class="fa-primary fas fa-home fa-4x mr-4"></i>
        <hr />
        <h3>Propery Management</h3>
        <p>
          Maintains property by investigating and resolving tenant complaints,
          enforcing rules of occupancy, planning renovations, contracting with
          landscaping and snow removal services. Maintains building systems by
          contracting for maintenance services and supervising repairs.
        </p>
      </div>
      <div class="col-md-4 fa-primary">
        <i class="fa-primary fas fa-suitcase fa-4x mr-4"></i>
        <hr />
        <h3>Renting & Selling</h3>
        <p>
          We will look after all your renting and selling needs. We will find
          the best price for you and keep you in the loop throughout the entire
          process. Renting? We have you covered.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
