{% load static %}
<footer id="main-footer" class="container-fluid py-4 bg-primary text-white">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <img
        src="{% static 'img/EstateLogofillWhite.svg' %}"
        class="logo"
        alt=""
      />
    </div>

    <div
      class="col-md-4 d-flex align-items-center justify-content-center text-center"
    >
      <p>
        Come see us at:<br />
        23/24 Dream house road, Dublin 18<br />
        D18THU76 <br />
        email: info@davis-estates.com <br />
        Phone: (086) 555 555
      </p>
    </div>
    <div
      class="col-md-4 d-flex align-items-center justify-content-center text-center"
    >
      Copyright &copy;
      <span class="year"></span>&nbsp; Davis Estate
    </div>
    
    
  </div>

   <div class="row d-flex mx-auto">
        <div class="col-12 d-flex  justify-content-center">
            <a class="clint_link" href="https://www.digital-web.solutions/" target="_blank" rel="noopener noreferrer"
                aria-label="link to developers web page 'Digital-web solutions'">
                <img
                    src="{% static 'img/Groupw.svg' %}"
                    alt="Digital-Web Soluction Logo"
                    class="logos" 
                />
                <img
                class="spinning logos"
                src="{% static 'img/color-Icon.svg' %}"
                alt="Digital-Web Soluction spinning Logo"
                />
            </a>
        </div>
    </div>

</footer>
