{% load static %}
<footer id="main-footer" class="container-fluid py-4 bg-primary text-white">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <img
        src="{% static 'img/EstateLogofillWhite.svg' %}"
        class="logo"
        alt=""
      />
    </div>

    <div
      class="col-md-4 d-flex align-items-center justify-content-center text-center"
    >
      <p>
        Come see us at:<br />
        23/24 Dream house road, Dublin 18<br />
        D18THU76 <br />
        email: info@davis-estates.com <br />
        Phone: (086) 555 555
      </p>
    </div>
    <div
      class="col-md-4 d-flex align-items-center justify-content-center text-center"
    >
      Copyright &copy;
      <span class="year"></span> Davis Estate
    </div>
  </div>
</footer>
